<mat-card
  class="max-w-96 w-full cursor-pointer h-full"
  (click)="detalharDesaparecido()"
>
  <div class="w-full">
    @if (carregandoImagem) {
    <div class="flex w-full h-80 items-center justify-center">
      <div
        class="h-80 w-full bg-gray-300 animate-pulse flex items-center justify-center"
      >
        <mat-spinner diameter="25"></mat-spinner>
      </div>
    </div>
    }
    <img
      [src]="desaparecido.urlFoto ?? 'assets/images/sem_foto.jpg'"
      class="w-full h-80 object-cover object-center"
      onerror="this.src='assets/images/sem_foto.jpg'"
      [ngClass]="{
        hidden: carregandoImagem,
        block: carregandoImagem === false
      }"
      (loadstart)="toggleCarregandoImagem(true)"
      (load)="toggleCarregandoImagem(false)"
    />
  </div>

  <!-- <div class="bg-gray-400 w-full h-56">
          </div>     -->
  <mat-card-title-group class="p-2">
    <mat-card-title>
      {{ desaparecido.nome }}
    </mat-card-title>
  </mat-card-title-group>
  <mat-card-content class="-m-2 mt-2">
    <p>{{ desaparecido.idade }} Anos, {{ listaSexos[desaparecido.sexo] }}</p>
    <p>
      <span>Data:</span>
      {{
        desaparecido.ultimaOcorrencia.dtDesaparecimento | date : "dd/MM/yyyy"
      }}
    </p>
    <p>
      <span>Local:</span>
      {{ desaparecido.ultimaOcorrencia.localDesaparecimentoConcat }}
    </p>
  </mat-card-content>
</mat-card>
