<div class="bg-white rounded-md w-full relative">
  @if (enviandoInformacao) {
  <div
    class="absolute h-full w-full bg-neutral-500 flex flex-col opacity-50 justify-center items-center z-10"
  ></div>
  <div
    class="flex flex-col items-center justify-center absolute z-30 w-full h-full"
  >
    <mat-spinner></mat-spinner>
    <p>Enviando informações</p>
    <p>Por favor, aguarde</p>
  </div>

  }

  <p class="text-center text-xl font-semibold py-2">
    Formulário de Informações
  </p>
  <mat-dialog-content>
    <form [formGroup]="formInformacoes" class="flex flex-col w-full px-4">
      <mat-form-field>
        <mat-label>Informação</mat-label>
        <textarea matInput formControlName="informacao"></textarea>
        <mat-error>Esse campo é obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Data:</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="data"
          readonly
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div>
        <input
          #fileInput
          type="file"
          (change)="handleAddFile($event)"
          multiple
          hidden
          [accept]="extensoesAceitas"
        />
        <button
          type="button"
          (click)="fileInput.click()"
          class="text-white px-6 py-3 bg-green-800 rounded-lg font-medium cursor-pointer"
        >
          Adicionar anexo
        </button>
        <br />
        <mat-hint class="font-medium text-xs">PNG, JPG, JPEG - 3MB</mat-hint>
        <br />
        @if (anexos.length) {
        <app-tabela-anexos
          [anexos]="anexos"
          (onAnexoRemovido)="handleRemoveFile($event)"
        ></app-tabela-anexos>
        }
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="flex gap-2 items-end justify-end px-4 pb-4">
    <button
      mat-flat-button
      style="background-color: red !important"
      mat-dialog-close
    >
      Cancelar
    </button>
    <button
      mat-flat-button
      [disabled]="!formInformacoes.valid"
      (click)="enviarInformacao()"
    >
      Enviar
    </button>
  </mat-dialog-actions>
</div>
